<div class="top_box">	
	<h1>My favourite recipes</h1>
</div>
<div class="main_box">
	<% @current_user.favourites.each do |t| %>
		<div class="list_recipe">
			<%= image_tag t.recipe.avatar.url(:thumb)%>
			<%= link_to t.recipe.title, show_path(:recipe_id => t.recipe_id) %>
			<div class="by">
				By: 
				<%= link_to t.recipe.feed.user.firstname, user_path(:id => t.recipe.feed.user.id) %>
			</div>
		</div>
		
		<%= form_for Favourite.new, url: {controller: 'recipes', action: 'unfavourite'}, method: "get" do |d| %>
			<%= d.hidden_field(:recipe_id, :value => t.recipe.id) %>
			<%= d.submit('Unfavourite') %>
		<% end %>
		<br/>
	
	<% end %>
</div>