<div class="top_box">
	<h1>Search for recipes:</h1>
	<%= form_tag(search_path) do |t|%>
	  <%= text_field_tag(:search) %>
	  <%= submit_tag("Search") %> 
	<% end %>
</div>

<div class="main_box">
	<% if @current_user %>
		<h4><%= link_to "+ add a new recipe", newrecipe_path %></h4>
	<% else %>
		<h5>Log in to add recipes</h5>
	<% end %>
	<h3><%= @page_header %></h3>
	<% @recipes.each do |t| %>
		<%= link_to t.title, show_path(:id => t.id) %><br/>
	<% end %>
</div>