<div class="top_box">
	<h1>Search for recipes:</h1>
	<%= form_tag(results_path) do |t|%>
	  <%= text_field_tag(:search) %>
	  <%= submit_tag("Search") %> 
	<% end %>
</div>

<div class="main_box">
	<% if @current_user %>
		<h4><%= link_to "+ add a new recipe", newrecipe_path %></h4>
	<% else %>
		<%= link_to "Log in to add recipes", log_in_path() %>
	<% end %>
	
	<h3><%= @page_header %></h3>
	<% @recipes.each do |t| %>
		<%= link_to t.title, show_path(:id => t.id) %>
		By: 
		<%= link_to t.feed.user.firstname, user_path(:id => t.feed.user.id) %>
		<br/>
	<% end %>
</div>