
<div class= "top_box">
	<div class="profile_info">
		<h3><%= @user.firstname %>
		<%= @user.surname %></h3>
		<%= @user.email %><br/>
		<%= @user.feed.recipes.count %>
	</div>
</div>

<div class="main_box">
	<%= form_for Following.new, url: {controller: 'users', action: 'follow'}, method: "get" do |t| %>
			<%= t.hidden_field(:feed_id, :value => @user.feed.id) %>
			<%= t.submit('Follow') %>
		<% end %>
	
	<h4><%= link_to "+ add a new recipe", newrecipe_path %></h4>

	<div class="my_recipes">
		<h4>My recipes</h4>
		<% @user.feed.recipes.each do |t| %>
			<%= link_to t.title, show_path(:id => t.id) %><br/>
		<% end %>
	</div> 

	<div class="profile_images">
		<h4>Pictures</h4>
	</div>

</div>
