
<div class= "top_box">
	<%= image_tag @user.avatar.url(:thumb) %>
	<div class="profile_info">
		<h3><%= @user.firstname %>
		<%= @user.surname %></h3><br/><br/>
		<%= @user.email %><br/><br/>
		<h5><%= @user.feed.recipes.count %> recipes |</h5> 
		<h5>Followed by <%= @user.feed.followings.count%> users</h5>
	</div>
</div>

<div class="main_box">
	<%= flash[:error] %>
	<% if @current_user != @user && @current_user%>
		<%= form_for Following.new, url: {controller: 'users', action: 'follow'}, method: "get" do |t| %>
				<%= t.hidden_field(:feed_id, :value => @user.feed.id) %>
				<%= t.submit('Follow') %><br/>
		<% end %>
	<% elsif @current_user == nil %>
		<h4><%= link_to "Log in to follow", log_in_path() %></h4>
	<% else %>
		<h4><%= link_to "+ add a new recipe", newrecipe_path %></h4>
	<% end %>

	<div class="my_recipes">
		<h3>My Recipes</h3>
		<% @user.feed.recipes.each do |t| %>
			<div class="list_recipe">
				<%= link_to t.title, show_path(:id => t.id) %>
			</div><br/>
		<% end %>
	</div> 

	<div class="profile_images">
		<h3>Pictures</h3>
		<% @user.feed.recipes.each do |p|%>
			<%= image_tag p.avatar.url(:thumb) %>
		<% end %>
	</div>

</div>
